

.btn{
    display:inline-block;
    margin-top: 10px;
    margin-left:10px ;
    border-bottom: 2px;
    color: #007bff;
}

.btn + .btn::before {
    content: " > ";
  }

.btn:hover{
    cursor: pointer;
    border-bottom: 2px solid rgb(53, 36, 36);
    padding-bottom: 3px;
}

.chosen{
    margin:10px;
    padding-bottom: 5px;
}

.bottom-div{
    margin-top: 2px;
}

.bottom-div label{
    margin-left: 5px;
}

.warning-removal >p{
    display: inline-block;
}
.warning-removal >button{
    display: inline-block;
    padding: 3px;
    border-radius: 5px;
}

.warning-removal >button:hover{
background-color: rgb(129, 35, 35);
color: white;
}

.warning-removal{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    width: 100%;
  }
  
  .container table {
    width: 100%;
    border-collapse: collapse; 
  }
  
  .container th,
  .container td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }
  
  .container th {
    background-color: #f2f2f2; 
  }

  tbody tr td:first-child {
    display: flex;
    align-items: center;
    
  }

  tbody tr td:first-child input{
    margin-right: 5px;
  }